.bg-dark.bg-dark-custom {
    background-color: #002448 !important;
}
.bg-gray {
    background-color: gray !important;
    border: none !important;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    max-width: 235px;
    min-width: 235px;
    min-height: 90vh;
}
#content {
    flex-grow: 100;
}
.no-border {
    border: none;
}
.no-border-radius {
    border-radius: 0 !important;
}
.larger-text {
    font-size: large;
}
.list-group-item-action.wider {
    width: 106%;
}
.nounderline {
    text-decoration: none !important;
}
.no-bg {
    background: none;
}
.no-mb {
    margin-bottom: 0 !important;
}
.custom-card-img {
    height: 98px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.custom-card-img.smaller {
    height: 60px;
}
.custom-card-img.unity {
    background-image: url('../img/Unity.png');
}
.custom-card-img.vnx {
    background-image: url('../img/VNX.png');
}
.table tr td:nth-child(2) {
    max-width: 200px;
}